// NavBar.scss

.custom-navbar {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
  }
  
  .appBar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    text-decoration: none;
    color: blue($color: #000000);
    font-size: 20px;
    font-weight: bold;
    margin-left: 50px;
  }
  
  .nav-items {
    display: flex;
    align-items: center;
    width: 72%;
  }
  
  .search-form {
    position: relative;
    display: flex;
    width: 95%;
  }
  
  .search-input {
    width: 70%;
    padding: 5px;
    margin-right: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .search-button {
    padding: 5px 10px;
    background-color: #fff;
    color: #333;
    border: none;
    cursor: pointer;
  }
  
  .profile-button {
    padding: 5px 10px;
    color: #fff;
    background: linear-gradient(#fff 0 0) var(--p, 0) / var(--p, 0) no-repeat;
    transition: .4s, background-position 0s;
    border: none;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 50px;
    border-radius: 5%;
  }

  .profile-button:hover {
    --p: 100%;
    color: #2f2020;
  }
  
  .suggestions-list {
    position: absolute;
    top: 100%; /* Position the suggestion list below the input box */
    left: 28%;
    width: 45%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    background-color: #fff;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 1; /* Ensure the suggestion list appears above other elements */
  }
  
  .suggestions-list li {
    padding: 10px;
    cursor: pointer;
    background: linear-gradient(#282421 0 0) var(--p, 0) / var(--p, 0) no-repeat;
    transition: .4s, background-position 0s;
    display: flex;
    flex-direction: column;
  }

  .suggestions-list li:hover {
    --p: 100%;
    color: #fff;
  }
  
  .suggestion-name {
    font-size: 16px; /* Adjust font size for the name */
    font-weight: bold;
  }
  
  .suggestion-username {
    font-size: 14px; /* Adjust font size for the username */
  }

  /* Adjust the font color */
.search-input,
.suggestions-list li {
  color: #333;
}