// Dashboard.scss

.dashboard {
    display: flex;
    flex-direction: column; /* Align children vertically */
    height: 100vh;
    
    .appBar {
        position: sticky;
        top: 0;
        z-index: 1000; /* Ensure the AppBar is above other elements */
    }

    .content{
        display: flex;
        height: 100%;
        padding: 10px;
    }

    // YourComponent.scss

    .left-pane {
      width: 20%;
      padding: 20px;
      background-color: #f8f9fa;
      border: 1px solid #dee2e6; // Bootstrap border color

      .search-bar {
        margin-bottom: 20px;

        input {
          width: 100%;
          padding: 8px;
          border: 1px solid #ced4da; // Bootstrap border color
          border-radius: 4px;
        }
      }

      .friends-list {

        .post-container {
          background: linear-gradient(#282421 0 0) var(--p, 0) / var(--p, 0) no-repeat;
          transition: .4s, background-position 0s;
          padding: 10px;
          margin-bottom: 10px;
          background-color: #fff; 
          border: 1px solid #dee2e6; // Bootstrap border color
          border-radius: 4px;
          cursor: pointer;
          .friend-name{
            font-size: 16px; /* Adjust font size for the name */
            font-weight: bold;
          }
          .friend-username{
            font-size: 14px; /* Adjust font size for the username */
            color: #777; /* Adjust color for the username */
          }
        }

        .post-container:hover {
          --p: 100%;
          color: #fff;
        }

        .post-text {
          font-size: 16px;
          // Add other text styling as needed
        }
      }
    }
  
    .middle-pane {
      flex: 2;
      padding: 20px;
    }

  }
  